<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Book Search App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
      .content {
        display:flex;
        flex-direction:column;
        justify-content:space-between
      }
      .columns .buttons {
        margin-top: auto;
      }
    </style>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          Book Searh App
        </h1>
        <p class="subtitle">
          Search your book here!
        </p>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="buttons is-right">
          <a class="button is-danger is-light" href="/wishlist">Lihat Wishlist</a>
        </div>
        <div class="columns">
          <div class="column is-four-fifths">
            <% var value_search = q ? q : "" %>
              <input id="search_text" class="input" type="text" placeholder="Search title or author" value="<%= value_search %>">
          </div>
          <div>
            <button id="button_search" class="button is-info">Search</button>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <% for(var i = 0; i < books.length; i++) {%>
          <div class="box">
            <div id="col_<%= books[i].id %>" class="columns">
              <div class="column is-one-fifths">
                <figure>
                  <% if(books[i].volumeInfo.imageLinks) { %>
                    <img src=<%= books[i].volumeInfo.imageLinks.thumbnail %>
                  <% } %>
                </figure>
              </div>
              <div class="column is-four-fifths content">
                <h4 class="title is-4 is-spaced"><%= books[i].volumeInfo.title %></h4>
                <% if(books[i].volumeInfo.authors) { %>
                  <p class="authors">
                    <% if (books[i].volumeInfo.authors.length > 1) { %>
                      <%= books[i].volumeInfo.authors.join("; ") %>
                    <% } else { %>
                      <%= books[i].volumeInfo.authors[0] %>
                    <% } %>
                  </p>
                <% } %>
                <% if(books[i].volumeInfo.averageRating) { %>
                  <div class="rater" data-rate-value=<%= books[i].volumeInfo.averageRating %> ></div>
                <% } else { %>
                  <div class="rater" data-rate-value=0></div>
                <% } %>
                <div class="buttons is-right">
                  <button id="add_<%= books[i].id %>" class="button is-primary wishlist_button">+ Add to wishlist</button>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </section>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/rater-jquery@1.0.0/rater.min.js"></script>
    <script>
      $(".rater").rate({
        max_value: 5,
        step_size: 0.5,
        readonly: true,
      });

      $('#button_search').click(function() {
          const url = new URL(window.location)
          const q = $("#search_text").val();
          const new_params = new URLSearchParams({"q": q}).toString()
          const new_url = new URL(`${url.origin}${url.pathname}?${new_params}`);
          window.location = new_url;
      });

      // add wishlist book
      $(".wishlist_button").click(function() {
        let id = $(this).attr('id');
        let book_id = id.split('_')[1]
        let data = {
          "book_id": book_id,
          "title": $("#col_"+book_id+" h4").text(),
          "authors": $("#col_"+book_id+" .authors").text().trim(),
          "average_rating": $("#col_"+book_id+" .rater").attr('data-rate-value'),
          "thumbnail": $("#col_"+book_id+" img").attr('src')
        }
        $.post("api/wishlists/", data, function( res_data ) {
          console.log(res_data)
        }).fail(function(response) {
          console.log(response)
          alert('Error: ' + response.responseText)
        })
      })

    </script>
  </body>
</html>